* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-image: url('./assets/background.jpg'); /* Pfad zum Hintergrundbild */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid #000;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: 200px;
  text-align: left;
  cursor: pointer;
}

.filter-dropdown, .search-bar {
  margin-bottom: 20px;
}

.pokedex-display {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.pokedex-image {
  width: 300px;
  height: auto;
}

.pokedex-image-container {
  position: absolute;
  top: 30%;
  left: 12%;
  width: 30%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-image {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.pokemon-details {
  margin-top: 20px;
  text-align: left;
  display: inline-block;
  width: 300px;
}
